/* --------------------- Reset begin */
body{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

input{
    border: none;
    outline: none;
}

/* --------------------- Reset end */

/* --------------------- Font Style begin */

.h1{
    text-transform: uppercase;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
}

.h2{
    text-transform: uppercase;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
}

.h3{
    text-transform: uppercase;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
}

.regular{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.time-style{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.message-st{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.error-style{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

@media screen and ( max-width: 768px ) {
    .h1{
        font-size: 36px;
    }

    .h2{
        font-size: 36px;
    }
    
    .regular{
        font-size: 16px;
    }
    
    .time-style{
        font-size: 12px;
    }

    .error-style{
        font-size: 16px;
    }
}

/* --------------------- Font Style end */

/* --------------------- Components begin */

/* Loader Block Component */
.loader{
    box-sizing: border-box;
}

.loader__spiner{
    position: relative;
    
    text-indent: -9999px;
    display: block;
    width: 50px;
    height: 50px;
    
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    border-left: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50px;

    -webkit-animation: animation-spiner 1.1s infinite linear;
    animation: animation-spiner 1.1s infinite linear;
}

@-webkit-keyframes animation-spiner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes animation-spiner{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader__spiner_dark{
    border-top: 4px solid #333333;
    border-right: 4px solid #333333;
}

/* Close button Block Component */
.close-button{
    box-sizing: border-box;
}

.close-button__cross{
    position: relative;

    margin: 0;
    padding: 0;

    display: block;
    width: 24px;
    height: 24px;

    text-indent: -9999px;
    background: none;
    border: none;
}

.close-button__cross::before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    content: '';
    display: block;
    width: 33.94px;
    height: 2px;
    
    border-radius: 5px;
    background: rgba(19, 89, 120, .5);

    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.3s ease;
}

.close-button__cross::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    content: '';
    display: block;
    width: 33.94px;
    height: 2px;
    
    border-radius: 5px;
    background: rgba(19, 89, 120, .5);

    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.3s ease;
}

.close-button__cross:hover::before{
    transform: translate(-50%, -50%) rotate(0);
}

.close-button__cross:hover::after{
    transform: translate(-50%, -50%) rotate(0);
}

.el-link-button{
    padding: 16px 28px;

    display: inline-flex;
    align-items: center;
    
    color: #ffffff;
    background: #1D4169;
    border-radius: 40px;
    text-decoration: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    transition: all 0.3s ease;
}

.el-link-button__icon{
    margin-left: 34px;
    fill: none;
}

.el-link-button:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.el-button{
    padding: 16px 74px;

    display: inline-flex;
    align-items: center;

    color: #ffffff;
    background: #1D4169;
    border-radius: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    
    transition: all 0.3s ease;
}
.el-button:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}
/* --------------------- Components end */

.container{
    max-width: 1560px;
    margin: 0 auto;
}

@media screen and ( max-width: 480px ){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Preloader Block */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    visibility: visible;
    width: 100%;
    height: 100%;

    background:#ffffff;
    opacity: 1;
    
    transform-origin: top;
    transform: scaleY( 1 );
    transition-timing-function: cubic-bezier(1,0,.52,1.01);
    transition: transform 1s ease;
}

.preloader__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.preloader__loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    transition: all .4s ease;
}


/* Popup Block */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: rgba(19,89, 120, 0.6);
    opacity: 0;
    visibility: hidden;

    transition: all .3s ease;
}

.popup_open{
    opacity: 1 !important;
    visibility: visible !important;
}

.popup__wrapper{
    position: relative;

    width: 100%;
    height: 100%;
}

.popup__loader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    opacity: 0;
    visibility: hidden;

    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.popup__loader_open{
    opacity: 1 !important;
    visibility: visible !important;
}

.popup__message{
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);
}

.popup__message_open{
    top: 50% !important;

    opacity: 1 !important;
    visibility: visible !important;
}

/* Message Block */
.message{
    padding: 24px 0 70px;

    display: inline-block;
    text-align: center;

    background: #ffffff;
    border: 1px solid rgba(19, 89, 120, 0.07);
    box-sizing: border-box;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
}

.message__close{
    padding: 0 16px;
    margin-bottom: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message__content{
    padding: 0 20px
}

.message__title{
    color: #162C4E
}

.message__info{
    margin: 29px 0 30px;

    max-width: 280px;

    color: #333333;
}

/* Header Block */
.header{
    position: absolute;
    top: 0;

    width: 100%;
}

.header__bg{
    position: relative;

    width: 100%;
}

.header__vector{
    position: absolute;
    top: 0;
    z-index: -1;
}

.header__vector_left{
    left: 0;

    max-width: 25%;
}

.header__vector_right{
    right: 0;

    max-width: 14%;
}

.header__logo{
    position: relative;

    width: 100%;
    height: auto;
}

.header__link{
    position: absolute;
    top: 60px;
    left: 50%;

    display: inline-block;

    transform: translateX( -50% );
}

@media screen and ( max-width: 768px ){

    .header__vector_left{
        max-width: 32%;
    }

    .header__vector_right{
        max-width: 30%;
    }

    .header__link{
        top: 100px;
    }

} 

@media screen and ( max-width: 450px ){

    .header__vector_left{
        max-width: 45%;
    }

    .header__vector_right{
        max-width: 43%;
    }

    .header__link{
        top: 80px;
    }

    .logo{
        width: 128px;
        height: auto;
    }

} 

/* Main Block */
.main{
    padding-top: 213px;

    text-align: center;
}

.main__title{
    margin-bottom: 8px;

    color: #B4C2D9;
}
.main__description{
    margin: 0 auto;

    max-width: 423px;

    color: #333333;
}

.main__middle{
    margin-top: 32px;
    margin-bottom: 72px;
}

.timer{
    display: inline-flex;
    flex-direction: row;
    color: #162C4E;
}

.time__value{
    margin-bottom: 3px;
}

.time__desc{
    position: relative;
    width: 132px;
    height: 54px;
}

.time__name{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    color: #ffffff;

    transform: translate( -50%, -50% );
}

.time__bg{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 100%;
    height: 100%;

    transform: translate( -50%, -50% );
}

.main__bottom-text{
    margin: 0 auto 12px;

    max-width: 423px;

    color: #333333;
}

@media screen and ( max-width: 768px ) {

    .main{
        padding-top: 326px;
    }
    
    .main__title{
        margin-bottom: 20px;
    }

    .main__middle{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .timer__item{
        margin-right: 6px;
    }

    .timer__item:last-child{
        margin-right: 0;
    }

    .time__desc{
        width: 64px;
        height: 40px;
    }
    
    .time__bg{
        transform: translate( -50%, -50% ) scaleY( 1.35 );
    }

    .main__bottom-text{
        margin: 0 auto 15px;
    }

}

@media screen and ( max-width: 450px ) {

    .main{
        padding-top: 186px;
    }

    .main__title{
        margin-bottom: 16px;
    }

}


/* Footer Block */
.footer{
    margin-top: 76px;
    padding: 61px 0 72px 0;

    text-align: center;
    background: #162C4E;
}

.subscribe{
    position: relative;

    padding: 8px;
    margin: 0 auto;

    display: flex;
    max-width: 440px;

    border-radius: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.subscribe__errors{
    position: absolute;
    top: -83%;
    left: 50%;
    z-index: 1;

    transform: translateX( -50% );
}

.subscribe__errors_hidden{
    opacity: 0;
    visibility: hidden;
}

.error-message{
    background: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.error-message__text{
    color: #DF2224
}

.error-message__text::after{
    content: '';
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX( -50% ) rotate( 45deg );
    z-index: 2;
    background: #ffffff;
    width: 10px;
    height: 10px;
}

.subscribe__input{
    padding: 6px 0 6px 19px;

    width: 100%;
    
    border-radius: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.subscribe__submit{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background: #DF2224;
    border-radius: 50px;
    text-indent: -99999px;
    
    transition: all 0.3s ease;
}

.subscribe__submit:disabled{
    background: #c7c7c7;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.subscribe__submit:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.subscribe__button-icon{
    fill: none
}

@media screen and ( max-width: 768px ) {
    .footer{
        margin-top: 169px;
    }

    .subscribe{
        max-width: 360px;
        padding: 4px;
    }

    .subscribe__errors{
        top: -130%;
    }
    
    .subscribe__input{
        font-size: 14px;
    }

    .subscribe__submit{
        width: 33px;
        height: 33px;
    }

    .subscribe__button-icon{
        width: 15.35px;
        height: 15.35px;
    }
}